

  <form action="/favourites" method="POST">
      <button 
          type="submit" 
          class="bg-blue-500 text-white py-2 px-4 rounded-full text-sm hover:bg-blue-600 transition"
      >
          Add to Favourites
      </button>
      <input type="hidden" name="id" value="<%= home._id %>">
  </form>
