<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bookings</title>
  <link rel="stylesheet" href="/output.css">
</head>
<body class="bg-green-100">
  <%- include("../partials/nav") %>
  <div class="max-w-7xl mx-auto p-6">
    <p class="text-3xl font-bold text-center mt-8">Bookings will appear here:</p>
  </div>
</body>
</html>
